<p>
  <strong>Filing Status:</strong>
  <%= @taxpayer.filing_status %>
</p>

<p>
  <strong>Gross Income:</strong>
  <%= @taxpayer.gross_income %>
</p>

<p>
  <strong>Estimated Taxes:</strong>
  <%= @taxpayer.estimated_taxes %>
</p>
