<div class="container">

<h1 class="medium-title">Estimated Taxes</h1>
<p>
  <strong>Estimated Taxes:</strong>
  <%= dollar_format(@taxpayer.estimated_taxes) %>
</p>

<p>
  <strong>Marginal Tax Rate:</strong>
  <%= percentage_format(@taxpayer.marginal_rate) %>
</p>

<p>
  <strong>Average Tax Rate:</strong>
  <%= percentage_format(@taxpayer.average_rate) %>
</p>

<a href="/new">
  <button>New Estimate</button>
</a>

</div>
